
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/flights">Wszystkie loty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/baggage">Waga ladunku oraz bagazy na pokladzie samolotu</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/flight">Loty oraz bagaze z nadego portu lotniczego</a>
    </li>

</ul>

</nav>



<router-outlet></router-outlet>
